.bottom-0{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-content: flex-end;
    }
    .center-0{
    display: flex;
    flex-direction: column;
    width: 100%;
    place-content: flex-end;
    padding-top: 10px;
    }
