.settings{
    height: 100%;
    background: #e9f6ff;
    padding-top: 0px;
    ion-item{
        --background: #e9f6ff;
    color: #676767;
    font-size: 1.1rem;
    }
}
// .math-title{
//     color:#fff;
//     padding-right: 80px;
//   }
// .settings-bg{
//     --background: linear-gradient(#18ccff, #549ffc);
// }
// ion-back-button{
//     --color: white ;
//   }
  